.game-board {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin: auto;
}

.cell {
  width: 48px; 
  height: 48px;
  border: 1px solid #ccc;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cell.item {
  background-color: green; 
}

.cell.empty {
  background-color: #f0f0f0;
}

.button {
  background-color: green; 
  color: white ;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px; 
}

.button:hover {
  background-color: #fff ;
  color: green;
  border: 2px solid green;
}
.controls {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  margin-top: 20px;
}
